/dist
/tmp
/p12
/out
/ejbca.properties
/velocity.log
/hwtoken
/va-dist
/.metadata
/ocspHardTokenClasses
/AdminCA1.cacert.pem
/AdminCA1.pem
/asdf.p12
/asdf.pem
/ssl.txt
/superadmin.pem
/clientToolBox-dist
/.ant-targets-build.xml
/p12_old
/p12_old2
/version_trunk
/reports
/ctb.log
/validationtool.log
/all.log
/error.log
/info.log
/result.log
/p12_2016
