
* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
}

body {
    /*font: 80% arial, helvetica, sans-serif;*/
    font-size: 80%; 
    font-family: Verdana,Helvetica,Arial,Geneva,sans-serif;
}

label {
    color: #707277;
}

#page {
    width: 100%;
}

#header {
    height: 100px;
    /* background: transparent url(../image/sidepanel.png) no-repeat; */
    z-index: 999;
    position: relative;
}

#logo {
    height: 60px;
    width: 640px;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 10;
    background: transparent url(../image/logo.png) no-repeat;
}

#logo-right {
    height: 74px;
    width: 40px;
    position: relative;
    float: right;
    margin: 4px;
    z-index: 10;
    /*background: transparent url(../image/logo-right.png) no-repeat;*/
}

#form {
    width: 100%;
}

#menu {
    position: relative;
    top: -2px;
}

#panel {
    margin: 8px;
}

#panel-title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

#footer {
    background-color: #5382a1;
    text-align: right;
    padding-right: 10px;
    color: white;
}

#status {
    background-color: #5382a1;
    color: white;
    float: left;
    position: relative;
    width: 100%;
}

#status * > span,
#status * > label {
    color: white;
}

#status * > label {
    font-weight: bold;
}

#status * > a {
    position: relative;
    z-index: 9999;
}

.status {
    width: 100%;
    border-collapse: collapse;
}

.status-server {
    padding-right: 5px;
    border-right: 2px solid #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.status-user {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.status-version {
    padding-left: 5px;
    border-right: 2px solid #fff;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.status-help {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.status-left {
    padding-left: 80px;
}

.status-links {
    position: relative;
    padding-right: 10px;
}

.status-left table {
    border-collapse: collapse;
}

.status-links table {
    border-collapse: collapse;
    float: right;
}

.clear {
    clear: both;
}

.section-outer {
    padding: 10px;
}

.section-outer .box .content {
    background-color: #eee;
}

.section-outer .box b b.L2,
.section-outer .box b b.L3 {
    background-color: #eee;
}

.section-inner {
    padding: 10px;
}


#menu-separator {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    position: relative;
    top: -1px;
}

.box, .box b.tc, .box b.bc {
}

.box b.tc, .box b.bc,.box b.tc b.L1, .box b.tc b.L2, .box b.tc b.L3,.box b.bc b.L1, .box b.bc b.L2, .box b.bc b.L3 {
    font-size: 0px;
    padding: 0;
    display: block;
}

.box b.tc b.L1,.box b.tc b.L2,.box b.bc b.L1,.box b.bc b.L2 { 
    height: 1px;
    line-height: 1px;
    overflow: visible;
}

.box b.tc b.L1,.box b.bc b.L1 { 
    margin: 0 4px;
}

.box b.tc b.L2,.box b.bc b.L2 { 
    margin: 0 2px;
    border-width:0 2px;
    border-style:solid;
}

.box b.tc b.L3,.box b.bc b.L3 {
    margin: 0 1px;
    border-width:0 1px;
    border-style: solid;
    height: 1px;
    overflow: visible;
}

.box .content { 
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    margin: 0;
    padding: 0;
    overflow: visible;
    border-left-color: #aaa;
    border-right-color: #aaa;
    background: transparent;
}

.box b.tc b.L1 { 
    background-color: #aaa;
}

.box b.tc b.L2,.box b.tc b.L3 { 
    border-color: #aaa;
}

.box b.bc b.L1 { 
    background-color: #aaa;
}

.box b.bc b.L2,.box b.bc b.L3 { 
    border-color: #aaa;
}

.box b b.L2, .box b b.L3 {
    background-color: transparent;
}

.box {
    margin: 0;
    width: 100%;
}


.panel {
    padding-top: 20px;
}

.landing-title {
	font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
}

.landing-items {
    background: #fff;
    padding: 10px;
    border: 1px solid #aaa;
}

.landingitem {
    padding-top: 20px;
}

