.iceMnuBarItem span {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #707277;
}

.iceMnuBarItem img {
    position: absolute;
    top: 5px;
}

.iceMnuBarSubMenu, .iceMnuBarVrtSubMenu {
    margin-top: -2px;
    width: 180px;
}

.iceSelInpTxtTxt {
    margin: 2px;
}

.iceMnuItm a,
.iceMnuItm a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
}

.iceMnuItm a span,
.iceMnuItm a:hover span {
    position: relative;
    left: -18px;
}

.iceMnuItm a img {
    padding-left: 3px;
}


.iceMnuItm a, .iceMnuItmVrt a {
    color: #707277;
}

.iceCmdSrtHdr * {
    font-weight: bold;
}

.iceDatTbl td span.iceOutTxt {
    display: inline;
}

.iceOutFrmt, .iceOutTxt, .iceOutLbl  {
    color: #707277;
}

.iceSelOneMnu, .iceSelMnyLb, .iceSelMnyMnu, .iceSelOneLb {
    color: #707277;
}

/*
/* add ons to the default styles 
*/

.iceOutTxt.warning {
	color: #CC0000;
}

/* An ugly button with curved border */
/*
.iceCmdBtn {
	margin: 0.3em;
	border: solid 1px black;
	border-radius: 0.3em 0.3em;
	-o-border-radius: 0.3em 0.3em;
	-moz-border-radius: 0.3em 0.3em;
	-khtml-border-radius: 0.3em 0.3em;
	-webkit-border-radius: 0.3em 0.3em;
} */

.iceCmdBtn {
	/* just to remove the font-family definition from built-in rime.css */
	font-family: Verdana,Helvetica,Arial,Geneva,sans-serif;
	font-size: 10px;
}

.iceCmdBtn.caCmdBtn {
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    background: none;
}

.iceCmdBtn.caCmdBtn:hover {
    color: blue;
}

.expandTriangle {
	margin: 0;
	border: none;
}

.iceDatTblColHdr.top, .iceDatTblCol.top, .iceDatTblCol1.top, .iceDatTblCol2.top {
    vertical-align:top;
    white-space: nowrap;
}

.icePnlGrd.expanded {
    vertical-align:top;
    margin-top: 10px; 
    border-top: 1px solid #d9d9d9;;
}

.icePnlGrd.top {
    vertical-align:top;
    height:3em;
    white-space: nowrap;
}
