<!-- 
	This is the template used for configuration of the Tomcat bundled with JBoss. 
 -->
<Server>
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />

   <Service name="jboss.web">

    <!-- Define a non-SSL HTTP/1.1 Connector on port 8080 -->
    <Connector port="${webserver.http.bindport}" address="${webserver.http.bindaddress}"
         maxThreads="250" maxHttpHeaderSize="8192"
         emptySessionPath="true" protocol="HTTP/1.1"
         enableLookups="false" redirectPort="${webserver.https.bindport}" acceptCount="100"
         connectionTimeout="20000" disableUploadTimeout="true" />

    <!-- Define a SSL HTTP/1.1 Connector on port 8442 -->
    ${webserver.https.disable.start}
    <Connector port="${webserver.https.bindport}" address="${webserver.https.bindaddress}"
         maxThreads="150" strategy="ms" maxHttpHeaderSize="8192"
         emptySessionPath="true" protocol="HTTP/1.1" SSLEnabled="true"
         scheme="https" secure="true" clientAuth="false" sslProtocol="TLS"
         keystoreFile="${webserver.keystore.file}" keystorePass="${webserver.keystore.password}"/>
    ${webserver.https.disable.end}

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector port="8009" address="${jboss.bind.address}" protocol="AJP/1.3"
         emptySessionPath="true" enableLookups="false" redirectPort="webserver.https.bindport" />

      <Engine name="jboss.web" defaultHost="localhost">
         <Realm className="org.jboss.web.tomcat.security.JBossSecurityMgrRealm"
            certificatePrincipal="org.jboss.security.auth.certs.SubjectDNMapping"
            allRolesMode="authOnly"
            />
         <Host name="localhost"
            autoDeploy="false" deployOnStartup="false" deployXML="false"
            configClass="org.jboss.web.tomcat.security.config.JBossContextConfig"
            >
            <!-- Check for unclosed connections and transaction terminated checks
                 in servlets/jsps.
            -->
            <Valve className="org.jboss.web.tomcat.service.jca.CachedConnectionValve"
              cachedConnectionManagerObjectName="jboss.jca:service=CachedConnectionManager"
              transactionManagerObjectName="jboss:service=TransactionManager" />
         </Host>
      </Engine>

   </Service>
</Server>
